
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  

  .navbar {
    background-color: #d9f0f1;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .logo {
    margin-left: 20px;
  }
  
  .navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar .nav-links li {
    margin-right: 20px;
  }
  
  .navbar .nav-links a {
    text-decoration: none;
    color: #333;
  }
  
  .navbar .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  .banner {
    background-color: #8cb2e4ec;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .banner-content {
    flex: 2;
    margin-right: 50px;
  }
  
  .banner-image {
    flex: 2 ;
  }
  
  .banner-image img {
    width: 100%;
    height: auto;
  }
  
  
  .our-clients {
    text-align: center;
    padding: 50px 0;
  }
  
  .client-logos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .client-logos img {
    margin: 20px;
    max-width: 80px;
  }
  
  
  .power-of-blockchain {
    padding: 50px 0;
  }
  
  .blockchain-points {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .point {
    text-align: center;
    width: 30%;
    margin-bottom: 30px;
  }
  
  .point img {
    width: 100px;
    margin-bottom: 10px;
  }
  
  
  .helping-blockchain {
    padding: 50px 0;
  }
  
  .helping-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .card {
    width: 30%;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .card img {
    width: 70%;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  
  .blockchain-future {
    padding: 50px 0;
  }
  
  .future-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .card {
    width: 30%;
    padding: 5px;
    background-color: #dbecf3;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; 
  }
  
  .card:hover {
    transform: translateY(-5px); 
  }
  
  .card img {
    max-width: 100%;
    height: 50%;
    margin-bottom: 30%;
  }
  
  .card h3 {
    margin-bottom: 5px;
  }
  
  
  .contact-us {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-image {
    flex: 1;
  }
  
  .contact-image img {
    width: 50%;
    height: auto;
  }
  
  .contact-form {
    flex: 1;
    margin-left: 1000px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10x;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center !important; 
}
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .social-media {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
  }

  .social-media img {
    width: 40px; 
    height: auto; 
  }
  
  .social-media a {
    margin: 0 10px; 
    color: #333; 
    
  }
  
  

  
  @media (max-width: 768px) {
    .banner {
      flex-direction: column;
      text-align: center;
    }
  
    .banner-image {
      margin-top: 20px;
    }
  
    .our-clients .client-logos {
      justify-content: center;
    }
  
    .blockchain-points,
    .helping-cards,
    .future-cards {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-us {
      flex-direction: column;
      text-align: center;
    }
  
    .contact-image {
      margin-bottom: 20px;
    }
  }